@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-all {
    transition: all 0.5s ease-in-out;
  }
}

body {
  background: #f8f8f8;
}

body.manage_scroll {
  overflow: hidden !important;
  height: 100vh !important;
}

/* =================== Custom Css ====================== */
body {
  background: #f8f8f8;
}
.__header_gradient {
  background: rgb(237, 244, 252);
  background: linear-gradient(
    90deg,
    rgba(237, 244, 252, 1) 0%,
    rgba(207, 225, 249, 1) 73%,
    rgba(156, 193, 242, 1) 100%
  );
}
.__fliter_gradient {
  background-image: linear-gradient(
    to bottom,
    #f4f8fc,
    #f3f6f9,
    #f1f3f6,
    #f0f1f3,
    #eeeff0
  );
}

.__fliter_gradient1 {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #fdfdfd,
    #fbfcfb,
    #fafafa,
    #f8f8f8
  );
}
.__fliter_gradient1:hover {
  background-image: linear-gradient(
    to bottom,
    #f3f4f6,
    #f3f4f6,
    #f3f4f6,
    #f3f4f6,
    #f3f4f6
  );
}

/* =====================Custom Select Box================== */
.select-container {
  position: relative;
  display: inline-block;
}

.__custom-select {
  padding: 3px 5px;
  padding-right: 30px; /* Add space for the icon */
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  background-color: white;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  font-size: 14px;
}
.__custom-select.cursor-not-allowed {
  cursor: not-allowed !important;
}

.__custom-select:focus {
  outline: none;
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 58%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none; /* Prevent the icon from capturing clicks */
}

.__custom-select option {
  color: black;
  background-color: white;
}

/* =========================Custom Date========================== */
.__custom_date {
  padding: 3px 5px;
  border: 2px solid rgb(201, 201, 201);
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-size: 14px;
  height: 31px;
}
.__custom_date:focus {
  outline: none;
}

@media screen and (min-width: 1470px) {
  .sub_bar1 {
    display: none;
  }
}
@media screen and (max-width: 1470px) {
  .sub_bar2 {
    display: none;
  }
}
.manage_close_icon::after {
  content: "111";
  width: 40px;
  height: 40px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
}
/* ===================================Custom Arrow======================== */
.slick-prev:before,
.slick-next:before {
  color: #000000 !important;
}
.slick-list {
  padding: 0px 0px !important;
}
.slick-prev {
  left: -22px;
}
.slick-next {
  right: -22px;
}

/* ======================Callender============================= */
.main-calender {
  display: flex;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.small-callender {
  max-width: 240px;
}
.react-calendar {
  background: #fff;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 7px;
  border: 1px solid rgb(240, 240, 240);
}
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 0.5em;
}
.react-calendar__navigation button {
  cursor: pointer;
  color: gray;
  font-weight: 600;
}
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}
.react-calendar__navigation button {
  cursor: pointer;
  color: gray;
  font-weight: 600;
}

abbr:where([title]) {
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #2f4f4f;
}

/* manage lead custom icon for options */

/* .manage_icons:after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: -13px;
  background: #6b7280;
  width: 13px;
  height: 13px;
  clip-path: polygon(36% 48%, 100% 100%, 100% 0);
} */

/* .rotation-icon {
  animation-name: rotate;
  animation-duration: 0.2s; 
  animation-timing-function: linear; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* review card */
.review_auto_adjust {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  row-gap: 20px;
}

.remove_scroll_bar::-webkit-scrollbar {
  height: 4px;
}
.remove_scroll_bar::-webkit-scrollbar-track {
  background: #e7e7e7;
}
.remove_scroll_bar::-webkit-scrollbar-thumb {
  background: #d6d6d6;
}
li.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #3b82f6;
  position: absolute;
  bottom: 4px;
  left: 0;
}
.user-role:first-child::after {
  content: " ,";
}

.custom-tooltip {
  max-width: 300px;
  background-color: #f9f9f9; /* Light background */
  border: 1px solid #ddd; /* Border for the tooltip */
  padding: 10px; /* Inner spacing */
  border-radius: 6px; /* Rounded corners */
  font-size: 14px; /* Font size */
  color: #333; /* Text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  line-height: 1.5; /* Better line spacing */
  z-index: 9999999999;
}

.tooltip-content {
  display: flex;
  flex-direction: column; /* Arrange elements vertically */
}

.tooltip-content ul {
  margin-top: 10px; /* Space before the list */
  padding-left: 20px; /* Indentation for the list */
}

.tooltip-content ul li {
  margin-bottom: 5px; /* Space between list items */
}

.white-filter {
  filter: brightness(0) invert(100%);
  opacity: 1; /* Adjust opacity as needed */
}

/* .handle-table-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
} */
@media (min-width: 1024px) {
  .handle-table-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 30px;
  }
}

:where(
    .css-dev-only-do-not-override-1x0dypw.border-remove-date-picker
  ).ant-picker {
  border-radius: 0px !important;
  padding: 0px 0px 0px !important;
  border: none !important;
}

.auto-grid-card {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
  gap: 30px;
}

.auto-grid-card_2 {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
  gap: 30px;
}

@media screen and (max-width: 592px) {
  .auto-grid-card {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.custom-scrollbar {
  overflow: hidden; /* Hide scrollbars by default */
  transition: all 0.3s;
}

.custom-scrollbar:hover {
  overflow: auto; /* Show scrollbars on hover */
}
.scroll-show-hover {
  overflow: hidden; /* Hide scrollbars by default */
  transition: all 0.3s;
}
.scroll-show-hover:hover {
  overflow: auto; /* Show scrollbars on hover */
}

@keyframes bell-shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  80% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-bell-shake {
  animation: bell-shake 1s ease-in-out;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.custom-adjust-fee-modal .ant-modal-header {
  background-color: #f3f4f6; /* Tailwind bg-gray-100 */
}

.custom-adjust-fee-modal .ant-modal-content {
  background-color: #f3f4f6;
}



